[Unit]
Description=Telegram bot 'TG'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/telegram_bot
ExecStart=/usr/bin/python3 /root/telegram_bot/main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target